.chip {
  display: inline-flex;
  flex-direction: row;
  background-color: #e5e5e5;
  border: none;
  cursor: default;
  height: 36px;
  outline: none;
  padding: 12px;
  margin: 4px;
  font-size: 14px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;
  align-items: center;
  border-radius: 16px;
  vertical-align: middle;
  text-decoration: none;
  justify-content: center;
}
.chipContent {
  cursor: inherit;
  display: flex;
  align-items: flex-start;
  user-select: none;
  white-space: nowrap;
  padding: 5px;
  /* padding-left: 12px;
  padding-right: 12px; */
}
